.active-service {
  background-color: rgba($color: #000000, $alpha: 0.25);
  backdrop-filter: blur(5px);
  border: none;
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;

  form {
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(300px, 100%, 500px);
    display: flex;
    align-items: center;
    justify-content: center;

    .main-form {
      background-color: #fff;
      padding: 1rem;
      text-align: center;
      border: none;
      border-radius: 1rem;
      width: 100%;
      .active-service-close {
        display: flex;
        align-items: center;
        justify-content: end;

        img {
          cursor: pointer;
        }
      }

      .container {
        display: flex;
        flex-direction: column;
        text-align: start;

        input,
        textarea,
        select {
          border: none;
          background-color: rgba($color: #a2eec6, $alpha: 0.25);
          padding: 0.5rem;
          margin: 1rem 0;
        }
        textarea {
          width: 100%;
          height: 100px;
          resize: none;
        }
        select {
          width: 30%;
        }
      }

      .requestor {
        display: none;
      }

      button {
        cursor: pointer;
        border: none;
        background-color: #007236;
        border-radius: 1rem;
        color: #fff;
        padding: 0.5rem 1rem;
      }

      .fake-btn {
      }
    }

    .confirmation {
      background-color: #fff;
      border: none;
      border-radius: 1rem;
      display: none;
      width: 500px;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;

      .reminder-container {
        margin-bottom: 1rem;
        h3 {
          margin: 0 0 1rem 0;
        }
        p {
          margin: 0;
          color: rgba($color: #000000, $alpha: 0.6);
          line-height: 150%;
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1rem;

        button {
          cursor: pointer;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 0.2rem;
          font-weight: bold;
        }

        .active-service-request {
          background-color: #007236;
          color: #fff;
        }
        .cancel-request {
          background-color: #e9ecef;
        }
      }
    }
  }
}
