.concerns {
  text-align: center;
  width: 100%;
  height: 100vh;

  .cons {
    padding: 1rem;
    h2 {
      color: #097338;
      text-align: center;

      @media (min-width: 375px) {
        font-size: 2rem;
        text-align: start;
      }
    }
  }

  .swiper {
    width: 90%;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 30%);
    border-radius: 1rem;
    overflow: hidden;
    @media (min-width: 375px) {
      // padding: 2rem;
    }
    .options {
      height: 95%;
      @media (min-width: 375px) {
        height: 100%;
      }

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 1rem;
        border: 1px solid rgba($color: #000000, $alpha: 0.5);
        // box-shadow: 10px 20px 25px rgba(0 0 0 / 0.25);
        padding: 2rem;
        text-align: center;

        p {
          color: #097338;
          font-weight: 600;
          font-size: 1.5rem;
        }

        button {
          cursor: pointer;
          border: none;
          border-radius: 5rem;
          background-color: #097338;
          color: #fff;
          font-weight: 600;
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  .swiper-pagination-bullet {
    background-color: #097338;
  }
}
