.goal {
  padding: 1rem;
  min-width: 375px;
  @media (min-width: 375px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 1rem;
    text-align: center;
    background: rgba(0, 114, 54, 0.12);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 4rem 3rem;
    min-width: 1000px;
  }
  .vision,
  .mission {
    h2 {
      color: #006630;
      position: relative;
      display: inline;
    }
    h2::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2rem;
      background: linear-gradient(178deg, #006630 0%, #f1e728 100%);
      @media (min-width: 375px) {
        display: none;
      }
    }
    p {
      margin-top: 1rem;
      line-height: 190%;
      // @media (min-width: 375px) {
      //   display: none;
      // }
    }
    @media (min-width: 375px) {
      width: auto;
    }
  }
  // .vision > :nth-child(3) {
  //   display: none;
  //   @media (min-width: 375px) {
  //     display: block;
  //     font-size: 1.2rem;
  //   }
  // }
  .mission {
    p {
      margin-bottom: 1rem;
    }
  }
  // .mission > :nth-child(4) {
  //   @media (min-width: 375px) {
  //     display: block;
  //     font-size: 1.2rem;
  //   }
  // }
}
