.active-success {
  background-color: rgba($color: #000000, $alpha: 0.35);
  border: none;
  display: block;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  .container {
    position: sticky;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin: 0 auto;

    background-color: #057435;
    border: 4px solid #fff;
    color: #fff;
    padding: 1rem;
    text-align: center;
    width: calc(100% - 30px);
    @media (min-width: 375px) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 75%);
      margin: 0;
    }

    .close-icon-message {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }
}
