.brgyInformation {
  height: 100vh;
  padding: 1rem;
  min-width: 100%;
  @media (min-width: 375px) {
    padding: 6rem;
  }
  h2 {
    color: #007236;
    margin-bottom: 1rem;
  }

  table {
    border-collapse: collapse;
    border: 1px solid black;
    @media (min-width: 375px) {
      border: none;
      width: 100%;
    }

    td {
      text-align: start;
      border-bottom: 1px solid black;
      @media (min-width: 375px) {
        border-top: 1px solid black;
        padding: 0.5rem;
      }
    }
    td:first-child {
      width: 200px;
      padding-right: 1rem;
      @media (min-width: 375px) {
        width: 50%;
        padding: 0.5rem;
      }
    }
  }
}
