header {
  background: linear-gradient(
    94deg,
    #006630 26.26%,
    #6ba024 134.24%,
    #f6eb13 242.21%
  );
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 375px;
  height: 225px;
  transition: 0.2s ease-in-out;
  position: relative;
  @media (min-width: 375px) {
    background: linear-gradient(
      94deg,
      #006630 26.26%,
      #6ba024 134.24%,
      #f6eb13 242.21%
    );
    background-size: cover;
    height: 40vh;
    padding: 2rem 0;
    min-width: 780px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    opacity: 0.4;
    img {
      object-fit: cover;
      width: inherit;
      height: inherit;
    }
  }

  .menu {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
    img {
      cursor: pointer;
      z-index: 3;
    }
    @media (min-width: 375px) {
      display: none;
    }
  }

  ul {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    z-index: 2;
    @media (min-width: 375px) {
      width: 90%;
    }

    li {
      list-style: none;
      text-align: center;
      display: none;
      @media (min-width: 375px) {
        display: block;
      }
      .logo-container {
        width: 112px;
        height: 112px;
        border-radius: 100%;
        position: relative;
        border: none;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: inherit;
          height: inherit;
          border-radius: 100%;
          object-fit: cover;
          @media (min-width: 375px) {
            width: 181px;
            height: 181px;
          }
        }
      }
    }
    li:nth-child(1) {
      z-index: 2;
      display: block;
    }
  }
}
