@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  max-width: 2000px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
}

.layer1,
.layer2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

.layer1 {
  z-index: 2;
  background: linear-gradient(180deg, #057435 49.41%, #F6EB13 211.08%);
  width: 1440px;
  height: 85px;
  text-align: center;
  padding-right: 835px;
  padding-top: 25px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #FFFFFF;
  display: flex;
}

.layer1 img {
  display: flex;
  position: relative;
  width: 90px;
  height: 90px;
  margin-top: -20px;
  margin-left: 20px;
  margin-right: 20px;
}

.layer2 {
  z-index: 2;
  width: 632px;
  height: 69px;
  left: 814px;
  top: 15px;
}
.layer2 .navbarlogo {
  display: flex;
  position: relative;
  margin-top: -90px;
  margin-left: 500px;
}

.login-cont {
  display: flex;
  width: 1440px;
  height: 800px;
 
}
.login-cont form {
  border-radius: 14px;
  border: 1px solid #007236;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  margin-top: 250px;
  margin-left: 520px;
  justify-content: center;
  padding: 30px;
  
}
.login-cont form h3 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: -20px;
  color: #000;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.login-cont form label {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.login-cont form input[type=text], input[type=password] {
  border: none;
  border-bottom: 2px solid #007236;
  margin-bottom: 20px;
  height: 20px;
}
.login-cont form .login {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 95px;
  color: white;
  width: 100px;
  height: 33px;
  border-radius: 40px;
  background: #007236;

  color: #FFF;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
