/* ID FORM CSS */
.modal-addIdForm {
  display: flex;
  z-index: 2;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 12% 0 0 35%;
  display: none;
}

.formIdForm {
  display: flex;
  position: fixed;
  flex-direction: column;
  border-radius: 20px;
  background: #F8F8F8;
  width: 500px;
  height: auto;
  padding: 20px;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title-cont-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-cont-modal p {
  color: #000;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.title-cont-modal img {
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}
.input-label {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.modal-layer1 .input-label input {
  width: 210px;
  height: 33px;
  padding-left: 5px;
}

.input-label .label111 {
  display: flex;
  flex-direction: row;
}
.input-label .label111 input {
  margin-right: 10px;
}
.input-label .label111 #house_no {
  width: 20%;
}
.input-label .label111 #street {
  width: 35%;
}
.input-label .label111 #subdivision {
  width: 35%;
}

.modal-layer1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modal-layer1 select {
  height: 33px;
  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}
.modal-layer1 input {
  height: 30px;
  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}

#submit {
  width: 89.744px;
  height: 35.836px;
  flex-shrink: 0;
  color: #007236;
  border-radius: 5px;
  background: #FFFF;
  border: 1px solid #007236;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin-top: 20px;
  cursor: pointer;
}
#submit:hover {
  background-color: #007236;
  color: #F8F8F8;
}

/* BRGY CLEARANCE CSS */
.modal-addBrgyClearance {
  display: flex;
  z-index: 2;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 12% 0 0 35%;
  display: none;
}

.formBrgyClearance {
  display: flex;
  position: fixed;
  flex-direction: column;
  border-radius: 20px;
  background: #F8F8F8;
  width: 400px;
  height: auto;
  padding: 20px;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-brgy-clearance {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.modal-layer-brgyClearance .input-brgy-clearance input {
  height: 33px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.input-brgy-clearance .label111 {
  display: flex;
  flex-direction: row;
}
.input-brgy-clearance .label111 input {
  margin-right: 10px;
}
.input-brgy-clearance .label111 #house_no {
  width: 25%;
}
.input-brgy-clearance .label111 #street {
  width: 35%;
}
.input-brgy-clearance .label111 #subdivision {
  width: 40%;
}


/* E CERT */
.modal-addEcert_forself {
  display: flex;
  z-index: 2;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 15% 0 0 35%;
  display: none;
}

.formEcert_forself {
  display: flex;
  position: fixed;
  flex-direction: column;
  border-radius: 20px;
  background: #F8F8F8;
  width: 400px;
  height: auto;
  padding: 20px;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input-e-self {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.modal-layer-endorsement-self .input-e-self input {
  height: 33px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.input-e-self .label111 {
  display: flex;
  flex-direction: row;
}
.input-e-self .label111 input {
  margin-right: 10px;
}
.input-e-self .label111 #house_no {
  width: 25%;
}
.input-e-self .label111 #street {
  width: 35%;
}
.input-e-self .label111 #subdivision {
  width: 40%;
}


.modal-addEcert_forsomeone {
  display: flex;
  z-index: 2;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 15% 0 0 35%;
  display: none;
}

.formEcert_forsomeone {
  display: flex;
  position: fixed;
  flex-direction: column;
  border-radius: 20px;
  background: #F8F8F8;
  width: 400px;
  height: auto;
  padding: 20px;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input-e-someone {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.modal-layer-endorsement-someone .input-e-someone input {
  height: 33px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.input-e-someone .label111 {
  display: flex;
  flex-direction: row;
}
.input-e-someone .label111 input {
  margin-right: 10px;
}
.input-e-someone .label111 #house_no {
  width: 25%;
}
.input-e-someone .label111 #street {
  width: 35%;
}
.input-e-someone .label111 #subdivision {
  width: 40%;
}


/* CERT OF INDIGENCY */
.modal-addIndigency_forself {
  display: flex;
  z-index: 2;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 15% 0 0 35%;
  display: none;
}

.formIndigency_forself {
  display: flex;
  position: fixed;
  flex-direction: column;
  border-radius: 20px;
  background: #F8F8F8;
  width: 400px;
  height: auto;
  padding: 20px;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input-indigency-self {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.modal-layer-indigency-self .input-indigency-self input {
  height: 33px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.input-indigency-self .label111 {
  display: flex;
  flex-direction: row;
}
.input-indigency-self .label111 input {
  margin-right: 10px;
}
.input-indigency-self .label111 #house_no {
  width: 25%;
}
.input-indigency-self .label111 #street {
  width: 35%;
}
.input-indigency-self .label111 #subdivision {
  width: 40%;
}

.modal-addIndigency_forsomeone {
  display: flex;
  z-index: 2;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 15% 0 0 35%;
  display: none;
}

.formIndigency_forsomeone {
  display: flex;
  position: fixed;
  flex-direction: column;
  border-radius: 20px;
  background: #F8F8F8;
  width: 400px;
  height: auto;
  padding: 20px;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input-indigency-someone {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.modal-layer-indigency-someone .input-indigency-someone input {
  height: 33px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.input-indigency-someone .label111 {
  display: flex;
  flex-direction: row;
}
.input-indigency-someone .label111 input {
  margin-right: 10px;
}
.input-indigency-someone .label111 #house_no {
  width: 25%;
}
.input-indigency-someone .label111 #street {
  width: 35%;
}
.input-indigency-someone .label111 #subdivision {
  width: 40%;
}
/* CERT OF LBR */
.modal-addlbr_forself {
  display: flex;
  z-index: 2;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 15% 0 0 35%;
  display: none;
}

.formlbr_forself {
  display: flex;
  position: fixed;
  flex-direction: column;
  border-radius: 20px;
  background: #F8F8F8;
  width: 400px;
  height: auto;
  padding: 20px;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input-lbr-self {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.modal-layer-lbr-self .input-lbr-self input {
  height: 33px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.input-lbr-self .label111 {
  display: flex;
  flex-direction: row;
}
.input-lbr-self .label111 input {
  margin-right: 10px;
}
.input-lbr-self .label111 #house_no {
  width: 25%;
}
.input-lbr-self .label111 #street {
  width: 35%;
}
.input-lbr-self .label111 #subdivision {
  width: 40%;
}

.modal-addlbr_forsingleparent {
  display: flex;
  z-index: 2;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 15% 0 0 35%;
  display: none;
}

.formlbr_forsingleparent{
  display: flex;
  position: fixed;
  flex-direction: column;
  border-radius: 20px;
  background: #F8F8F8;
  width: 400px;
  height: auto;
  padding: 20px;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input-lbr-single-parent {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.modal-layer-lbr-single-parent .input-lbr-single-parent input {
  height: 33px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.input-lbr-single-parent .label111 {
  display: flex;
  flex-direction: row;
}
.input-lbr-single-parent .label111 input {
  margin-right: 10px;
}
.input-lbr-single-parent .label111 #house_no {
  width: 25%;
}
.input-lbr-single-parent .label111 #street {
  width: 35%;
}
.input-lbr-single-parent .label111 #subdivision {
  width: 40%;
}

.modal-addlbr_fortheirchild {
  display: flex;
  z-index: 2;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 15% 0 0 35%;
  display: none;
}

.formlbr_fortheirchild{
  display: flex;
  position: fixed;
  flex-direction: column;
  border-radius: 20px;
  background: #F8F8F8;
  width: 400px;
  height: auto;
  padding: 20px;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input-lbr-for-child {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.modal-layer-lbr-for-child .input-lbr-for-child input {
  height: 33px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.input-lbr-for-child .label111 {
  display: flex;
  flex-direction: row;
}
.input-lbr-for-child .label111 input {
  margin-right: 10px;
}
.input-lbr-for-child .label111 #house_no {
  width: 25%;
}
.input-lbr-for-child .label111 #street {
  width: 35%;
}
.input-lbr-for-child .label111 #subdivision {
  width: 40%;
}
/* BUSINESS CLEARANCE */

.modal-addClearance {
  display: flex;
  z-index: 2;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 17% 0 0 35%;
  display: none;
}

.formaddClearance { 
  display: flex;
  position: fixed;
  flex-direction: column;
  border-radius: 20px;
  background: #F8F8F8;
  width: 400px;
  height: auto;
  padding: 20px;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input-b-clearance {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.modal-layer-b-clearance .input-b-clearance input {
  height: 33px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.input-b-clearance .label111 {
  display: flex;
  flex-direction: row;
}
.input-b-clearance .label111 input {
  margin-right: 10px;
}
.input-b-clearance .label111 #house_no {
  width: 25%;
}
.input-b-clearance .label111 #street {
  width: 35%;
}
.input-b-clearance .label111 #subdivision {
  width: 40%;
}
.modal-addClosure {
  display: flex;
  z-index: 2;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 17% 0 0 35%;
  display: none;
}

.formaddClosure { 
  display: flex;
  position: fixed;
  flex-direction: column;
  border-radius: 20px;
  background: #F8F8F8;
  width: 400px;
  height: auto;
  padding: 20px;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input-b-closure {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.modal-layer-b-closure .input-b-closure input {
  height: 33px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.input-b-closure .label111 {
  display: flex;
  flex-direction: row;
}
.input-b-closure .label111 input {
  margin-right: 10px;
}
.input-b-closure .label111 #house_no {
  width: 25%;
}
.input-b-closure .label111 #street {
  width: 35%;
}
.input-b-closure .label111 #subdivision {
  width: 40%;
}