
.home_residents {
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  height: auto;
  margin-left: 75px;
}

.first_layer {
    margin-top: 85px;
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
  }
  .first_layer p {
    width: 50%;
    display: flex;
    align-self: center;
    margin-left: 35px;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    /* identical to box height */
    color: #007236;
  }
  .first_layer a {
    width: 50%;
    justify-content: flex-end;
    align-self: center;
    margin-right: 45px;
    display: flex;
    text-decoration: none;
  
    color: #000;
    font-size: 15px;
    font-family: Poppins;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
  }
  .second_layer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    width: 98%;
    margin-top: 30px;
    height: 65px;
  
    font-size: 13px;
    font-family: Poppins;
    font-weight: 400;
  }
  .second_layer .search-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
  }
  .second_layer .search-cont p {
    margin-left: 20px;
    margin-right: 20px;
  }
  .second_layer .search-cont input {
    height: 30px;
    border: 1px solid #878787;
    background: #fff;
    border-radius: 5px;
  }

.Box-Container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;

  width: 100%;
  padding: 10px 10px;
}
.First-Cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
 
}
.First-Cont .bigBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #8D57FF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 70%;
  height: 152px;
}
.First-Cont .bigBox .text-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.First-Cont .bigBox .text-cont .text {
  color: #F8FBFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.First-Cont .bigBox .text-cont .number {
  color: #F8FBFF;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.First-Cont .bigBox img {
  margin-left: 5px;
}
.Second-Cont {
  display: flex;
  flex-wrap: wrap;
  width: 65%;

}
.Second-Cont .smallBox {
  display: flex;
  width: 250px;
  height: 80px;
  border-radius: 20px;
  background: #A276FF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  justify-content: space-around;
  align-items: center;
  margin: 5px 5px;
}
.Second-Cont .smallBox .text-cont {
  display: flex;
  flex-direction: column;
}
.Second-Cont .smallBox .text-cont .text {
  color: #F8FBFF;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Second-Cont .smallBox .text-cont .number {
  color: #F8FBFF;
  font-family: Poppins;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* MALE CSS */
.First-Cont .bigBoxMale {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #2c67fd;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 70%;
  height: 152px;
}
.First-Cont .bigBoxMale .text-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.First-Cont .bigBoxMale .text-cont .text {
  color: #F8FBFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.First-Cont .bigBoxMale .text-cont .number {
  color: #F8FBFF;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.First-Cont .bigBoxMale img {
  margin-left: 5px;
}
.Second-Cont .smallBoxMale {
  display: flex;
  width: 250px;
  height: 80px;
  border-radius: 20px;
  background: #2c67fdbb;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  justify-content: space-around;
  align-items: center;
  margin: 5px 5px;
}
.Second-Cont .smallBoxMale .text-cont {
  display: flex;
  flex-direction: column;
}
.Second-Cont .smallBoxMale .text-cont .text {
  color: #F8FBFF;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Second-Cont .smallBoxMale .text-cont .number {
  color: #F8FBFF;
  font-family: Poppins;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* FEMALE CSS */
.First-Cont .bigBoxFemale {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #FF7676;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 70%;
  height: 152px;
}
.First-Cont .bigBoxFemale .text-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.First-Cont .bigBoxFemale .text-cont .text {
  color: #F8FBFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.First-Cont .bigBoxFemale .text-cont .number {
  color: #F8FBFF;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.First-Cont .bigBoxFemale img {
  margin-left: 5px;
}
.Second-Cont .smallBoxFemale {
  display: flex;
  width: 250px;
  height: 80px;
  border-radius: 20px;
  background: #ff7676b6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  justify-content: space-around;
  align-items: center;
  margin: 5px 5px;
}
.Second-Cont .smallBoxFemale .text-cont {
  display: flex;
  flex-direction: column;
}
.Second-Cont .smallBoxFemale .text-cont .text {
  color: #F8FBFF;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Second-Cont .smallBoxFemale .text-cont .number {
  color: #F8FBFF;
  font-family: Poppins;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* VOTERS CSS */
.First-Cont .bigBoxVoters {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #6EC677;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 70%;
  height: 152px;
}
.First-Cont .bigBoxVoters .text-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.First-Cont .bigBoxVoters .text-cont .text {
  color: #F8FBFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.First-Cont .bigBoxVoters .text-cont .number {
  color: #F8FBFF;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.First-Cont .bigBoxVoters img {
  margin-left: 5px;
}
.Second-Cont .smallBoxVoters {
  display: flex;
  width: 250px;
  height: 80px;
  border-radius: 20px;
  background: #6ec677c0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  justify-content: space-around;
  align-items: center;
  margin: 5px 5px;
}
.Second-Cont .smallBoxVoters .text-cont {
  display: flex;
  flex-direction: column;
}
.Second-Cont .smallBoxVoters .text-cont .text {
  color: #F8FBFF;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Second-Cont .smallBoxVoters .text-cont .number {
  color: #F8FBFF;
  font-family: Poppins;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.fourth_layer {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 98%;
}

table {
    width: 100%;
    border-collapse: collapse;
  
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
    color: #000;
    font-size: 13px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  th,
  td {
    padding: 8px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dfdfdf;
  }
  
  .edit,
  .print,
  .delete {
    margin-right: 10px;
    text-decoration: none;
  }
  .edit {
    color: #007236;
    cursor: pointer;
  }
  .print {
    color: #000aff;
    cursor: pointer;
  }
  .delete {
    color: #f00;
    cursor: pointer;
  }

  .third_layer .Male {
    width: 250px;
    height: 80px;
    background-color: #7B9FFC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-right: 20px;
    margin-bottom: 20px;

  }
  .third_layer .Male .text-cont {
    display: flex;
    flex-direction: column; 
    margin-left: 25px;
  }
  .third_layer .Male .text-cont .text {
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third_layer .Male .text-cont .number {
    color: #FFF;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third_layer .Male img {
    width: 68px;
    height: 50px;
    margin-right: 25px;
  }


  .third_layer .Female {
    width: 250px;
    height: 80px;
    background-color: #FF7676;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-right: 20px;
    margin-bottom: 20px;

  }
  .third_layer .Female .text-cont {
    display: flex;
    flex-direction: column; 
    margin-left: 25px;
  }
  .third_layer .Female .text-cont .text {
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third_layer .Female .text-cont .number {
    color: #FFF;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third_layer .Female img {
    width: 68px;
    height: 50px;
    margin-right: 25px;
  }


  .third_layer .Voters {
    width: 250px;
    height: 80px;
    background-color: #6EC677;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-right: 20px;
    margin-bottom: 20px;

  }
  .third_layer .Voters .text-cont {
    display: flex;
    flex-direction: column; 
    margin-left: 25px;
  }
  .third_layer .Voters .text-cont .text {
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third_layer .Voters .text-cont .number {
    color: #FFF;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third_layer .Voters img {
    width: 68px;
    height: 50px;
    margin-right: 25px;
  }


  .third_layer .NonVoters {
    width: 250px;
    height: 80px;
    background-color: #EE96E5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-right: 20px;
    margin-bottom: 20px;

  }
  .third_layer .NonVoters .text-cont {
    display: flex;
    flex-direction: column; 
    margin-left: 25px;
  }
  .third_layer .NonVoters .text-cont .text {
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third_layer .NonVoters .text-cont .number {
    color: #FFF;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third_layer .NonVoters img {
    width: 68px;
    height: 50px;
    margin-right: 25px;
  }


  .third_layer .OSY {
    width: 250px;
    height: 80px;
    background-color: #7E44B8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-right: 20px;
    margin-bottom: 20px;

  }
  .third_layer .OSY .text-cont {
    display: flex;
    flex-direction: column; 
    margin-left: 25px;
  }
  .third_layer .OSY .text-cont .text {
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third_layer .OSY .text-cont .number {
    color: #FFF;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third_layer .OSY img {
    width: 68px;
    height: 50px;
    margin-right: 25px;
  }


  .third_layer .PWD {
    width: 250px;
    height: 80px;
    background-color: #A82222;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-right: 20px;
    margin-bottom: 20px;

  }
  .third_layer .PWD .text-cont {
    display: flex;
    flex-direction: column; 
    margin-left: 25px;
  }
  .third_layer .PWD .text-cont .text {
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third_layer .PWD .text-cont .number {
    color: #FFF;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third_layer .PWD img {
    width: 68px;
    height: 50px;
    margin-right: 25px;
  }



  .third_layer .SNR {
    width: 250px;
    height: 80px;
    background-color: #35682D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-right: 20px;
    margin-bottom: 20px;

  }
  .third_layer .SNR .text-cont {
    display: flex;
    flex-direction: column; 
    margin-left: 25px;
  }
  .third_layer .SNR .text-cont .text {
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third_layer .SNR .text-cont .number {
    color: #FFF;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third_layer .SNR img {
    width: 68px;
    height: 50px;
    margin-right: 25px;
  }



  .third_layer .Students {
    width: 250px;
    height: 80px;
    background-color: #368072;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-right: 20px;
    margin-bottom: 20px;

  }
  .third_layer .Students .text-cont {
    display: flex;
    flex-direction: column; 
    margin-left: 25px;
  }
  .third_layer .Students .text-cont .text {
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third_layer .Students .text-cont .number {
    color: #FFF;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third_layer .Students img {
    width: 68px;
    height: 50px;
    margin-right: 25px;
  }




