/* START CONTENT MANAGEMENT CSS*/
.modal-b-info {
  display: flex;
  z-index: 2;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 12% 0 0 29%;
  display: none;
}

.form-b-info {
  display: flex;
  position: fixed;
  flex-direction: column;
  border-radius: 20px;
  background: #f8f8f8;
  width: 625px;
  height: 500px;
  padding: 20px;
}

.header-cont {
  display: flex;
  flex-direction: row;
}
.header-cont p {
  width: 100%;
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header-cont img {
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

.input-cont {
  display: flex;

  justify-content: space-between;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}

.left-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 30px;
}

.left-cont input {
  height: 30px;
  margin-bottom: 20px;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.right-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 30px;
}

.right-cont input {
  height: 30px;
  margin-bottom: 20px;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.UpdateInfo {
  width: 82px;
  height: 29px;

  border-radius: 5px;
  background: #007236;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin-top: 150px;
}

.body-cont {
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  height: auto;
  margin-left: 75px;
}

.first-layer {
  margin-top: 85px;
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
}

.first-layer p {
  width: 50%;
  display: flex;
  align-self: center;
  margin-left: 35px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  /* identical to box height */
  color: #007236;
}

.first-layer a {
  width: 50%;
  justify-content: flex-end;
  align-self: center;
  margin-right: 45px;
  display: flex;
  text-decoration: none;

  color: #000;
  font-size: 15px;
  font-family: Poppins;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

.second_layer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  width: 98%;
  margin-top: 30px;
  height: 65px;

  font-size: 13px;
  font-family: Poppins;
  font-weight: 400;
}

.second_layer .search-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
}
.second_layer .search-cont p {
  margin-left: 20px;
  margin-right: 20px;
}
.second_layer .search-cont input {
  height: 30px;
  border: 1px solid #878787;
  background: #fff;
  border-radius: 5px;
}
.second_layer .add-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: flex-end;
  margin-right: 40px;
}

.second_layer .add-cont .addAnnouncement {
  height: 39px;
  border-radius: 20px;
  border: 1px solid #007236;
  background: #fff;
  color: #007236;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 130px;
  border-radius: 20px;
  justify-content: center;
}

.third_layer {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 98%;
}

table {
  width: 100%;
  border-collapse: collapse;

  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: #000;
  font-size: 13px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

table thead tr th {
  color: #000000;
  font-size: 13px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

th,
td {
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dfdfdf;
}

.edit,
.delete {
  margin-right: 10px;
  text-decoration: none;
}
.edit {
  color: #007236;
  cursor: pointer;
}
.delete {
  color: #f00;
  cursor: pointer;
}

.modal-addAnnouncement {
  display: flex;
  z-index: 2;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 9% 0 0 29%;
  display: none;
}
.modal-editAnnouncement {
  display: flex;
  z-index: 2;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 9% 0 0 29%;
  display: none;
}

.formAnnouncement {
  display: flex;
  position: fixed;
  flex-direction: column;
  border-radius: 20px;
  background: #f8f8f8;
  width: 625px;
  height: 580px;
  padding: 20px;
  overflow: auto;
}

.title-container {
  display: flex;
  flex-direction: row;
}
.title-container p {
  width: 100%;
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.title-container img {
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

.add-container {
  display: flex;

  justify-content: space-between;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 30px;
}

.left input {
  height: 30px;
  margin-bottom: 20px;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.right {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 30px;
}

.right input {
  height: 30px;
  margin-bottom: 20px;

  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.upload {
  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#preview {
  max-width: 190px;
  max-height: 190px;
  margin-top: 5px;
}
.image {
  padding: 4px;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 4px;
  width: 100%;
  margin-top: 5px;
  width: 45%;
}

.submitAnnouncement {
  width: 82px;
  height: 29px;

  border-radius: 5px;
  background: #007236;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-self: flex-end;
  position: fixed;
  margin-top: 510px;
}

.home_request {
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  height: auto;
  margin-left: 75px;
}

.first_layer {
  margin-top: 80px;
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
}
.first_layer p {
  width: 50%;
  display: flex;
  align-self: center;
  margin-left: 35px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  /* identical to box height */
  color: #007236;
}
.first_layer a {
  width: 50%;
  justify-content: flex-end;
  align-self: center;
  margin-top: 5px;
  display: flex;
  text-decoration: none;

  color: #000;
  font-size: 15px;
  font-family: Poppins;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}
.backContainer {
  display: flex;
  margin: 15px 15px;
  cursor: pointer;
}
.backContainer img {
  width: 15px;
  height: 15px;
}
.backContainer p {
  margin-left: 5px;
  color: #000;
  font-size: 10px;
  font-family: Poppins;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}
.add-residents-cont {
  display: flex;
  width: 97%;
  margin: 25px;
  flex-direction: column;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

.modal-delete {
  display: flex;
  z-index: 2;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 17% 0 0 40%;
  display: none;
}

.form-delete {
  display: flex;
  position: fixed;
  flex-direction: column;
  border-radius: 20px;
  background: #f8f8f8;
  width: 305px;
  height: 250px;
  overflow: hidden;
}

.delete-cont {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 49px;
  flex-shrink: 0;
  align-items: center;
  padding: 0 15px;

  border-radius: 10px 10px 0px 0px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.delete-cont p {
  color: #fe423f;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.delete-cont img {
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.delete-description {
  padding: 15px 15px;
}

.delete-description p {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.delete-submit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  padding-top: 65px;
}

.delete-submit a {
  width: 65px;
  height: 30px;
  flex-shrink: 0;

  border-radius: 5px;
  background: #fe423f;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.household-form {
  display: flex;
  justify-content: center;
}
.household-cont {
  display: flex;
  align-self: center;

  
  padding: 20px 20px;
  
  width: 95%;
  height: 380px;
  
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
  margin: 40px 0;
}

.household-cont img {
  width: 97%;
  height: 340px;
  position: absolute;
}

.household-cont .household-inner-cont {
  display: flex;
  
  width: 100%;
  flex-direction: row;
}

.household-cont .household-inner-cont .title-cont p {
  margin-top: -40px;
  position: absolute;
  margin-left: 100px;
  justify-content: flex-start;

  
  width: 100%;
  height: 30px;

  flex-direction: row;

  color: #000;

  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.household-cont .household-inner-cont {
  position: relative;
  padding: 35px 30px;
  width: 100%;
  display: flex;
  
}

.household-cont .household-inner-cont .left-hold-cont {
  width: 50%;
 
  display: flex;
  flex-direction: column;

  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
  justify-content: flex-start;
}

.household-cont .household-inner-cont .left-hold-cont .input-container {
  display: flex;
  padding: 5px 10px;
  align-items: center;
}

.household-cont .household-inner-cont .left-hold-cont .input-container label {

  width: 25%;
  text-align: end;
  margin-right: 20px;
}
.household-cont .household-inner-cont .left-hold-cont .input-container input {
  width: 40%;
  height: 28px;
  fill: #FFF;
  border-radius: 3px;
  border: none;
  padding-left: 5px;
  border: solid 1px #007236;
  
}
.household-cont .household-inner-cont .left-hold-cont .input-container .dob {
  width: 25%;
}
.household-cont .household-inner-cont .left-hold-cont .input-container .sex {
  fill: #FFF;
  border-radius: 3px;
  border: none;
  width: 20%;
  border: solid 1px #007236;
  
}

.household-cont .household-inner-cont .right-hold-cont {
  width: 50%;

  flex-direction: column;
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  justify-content: flex-start;
}

.household-cont .household-inner-cont .right-hold-cont .input-container {
  display: flex;
  padding: 5px 10px;
  align-items: center;
}

.household-cont .household-inner-cont .right-hold-cont .input-container label {
  
  width: 22%;
  text-align: end;
  margin-right: 20px;
}

.household-cont .household-inner-cont .right-hold-cont .input-container .houseNo {
  width: 15%;
  margin-right: 5px;
  padding-left: 5px;
  border: solid 1px #007236;
  
}
.household-cont .household-inner-cont .right-hold-cont .input-container .streetNo {
  width: 20%;
  margin-right: 5px;
  padding-left: 5px;
  border: solid 1px #007236;
  
}
.household-cont .household-inner-cont .right-hold-cont .input-container .Subdi {
  width: 35%;
  margin-right: 5px;
  padding-left: 5px;
  border: solid 1px #007236;
  
}
.household-cont .household-inner-cont .right-hold-cont .input-container input {
  width: 40%;
  height: 28px;
  fill: #FFF;
  border-radius: 3px;
  border: none;
  padding-left: 5px;
  border: solid 1px #007236;
  
}
.household-cont .household-inner-cont .right-hold-cont .input-container .civilStatus {
  fill: #FFF;
  border-radius: 3px;
  border: none;
  width: 20%;
  border: solid 1px #007236;
  
}


.household-cont .household-inner-cont .right-hold-cont .button-cont {
  display: flex;
  flex-direction: row;
  margin-top: 105px;
  margin-right: -30px;
  align-items: center;
  justify-content: flex-end;
  
}

.household-cont .household-inner-cont .right-hold-cont .button-cont .addMember {
  width: 15%;
  height: 30.836px;
  color: #0004ff;
  border: none;
  border-radius: 5px;
  background: #FFF;
  border: solid 1px #0004ff;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;


  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
}
.household-cont .household-inner-cont .right-hold-cont .button-cont .addMember:hover {
  color:white;
  background-color: #0004ff;
}
.household-cont .household-inner-cont .right-hold-cont .button-cont .create-household {
  width: 15%;
  height: 30.836px;
  color: #007236;
  border: none;
  border-radius: 5px;
  background: #FFF;
  border: solid 1px #007236;
  cursor: pointer;

  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.household-cont .household-inner-cont .right-hold-cont .button-cont .create-household:hover {
  background-color: #007236;
  color: #FFF;
}

.household-cont .household-inner-cont .right-hold-cont .button-cont1 .create-household1 {
  width: 15%;
  height: 30.836px;
  color: #007236;
  border: none;
  border-radius: 5px;
  background: #FFF;
  border: solid 1px #007236;
  cursor: pointer;

  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.household-cont .household-inner-cont .right-hold-cont .button-cont1 .create-household1:hover {
  background-color: #007236;
  color: #FFF;
}


.addBtnContainer {
  display: flex;
  justify-content: flex-end;
  background-color: red;
  margin-right: 50px;

}
.addBtnContainer .addMember {
  width: 7%;
  height: 30.836px;
  color: #0004ff;
  border: none;
  border-radius: 5px;
  background: #FFF;
  border: solid 1px #0004ff;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;


  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.addResidentsTable {
  max-width: 100%;
  border-collapse: collapse;
 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: #000;
  font-size: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.addResidentsTable thead {
  background-color: #4b804b27;
}
.addResidentsTable tr td input {
  width: 100%;
  height: 30px;
  fill: #FFF;
  border-radius: 2px;
  border: solid 1px #4b804b81;
  padding-left: 5px;
  
  color: #000000;
  font-size: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.addResidentsTable tr td input[type="radio"] {
  cursor: pointer;
}

.addResidentsTable thead tr .no {
  width: 4%;
 
}
.addResidentsTable thead tr .houseTitle {
  width: 1%;
  
}

.addResidentsTable tr td select {
 
  height: 30px;
  fill: #FFF;
  border-radius: 2px;
  border: solid 1px #4b804b81;
  padding-left: 5px;
  
}

.addResidentsTable thead tr th {
  color: #000000;
  font-size: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.addResidentsTable th,
td {
  padding: 8px;
  text-align: center;
}

.addResidentsTable tr:nth-child(even) {
  background-color: #4b804b27;
}
.addResidentsTable tbody tr td input[type="radio"] {
  width: 18px; /* Set the width to your preferred size */
  height: 18px; /* Set the height to your preferred size */
  margin: 0;
  vertical-align: middle;
  position: relative;
  
}


.DeleteBtn {
  cursor: pointer;
  color: #ff0000;
  font-size: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.submitHouseholdCont {
  
  width: 100%;
  display: flex;
  justify-content: flex-end;
  
}
.submitHousehold {
  width: auto;
  padding: 5px 25px;
  height: 30.836px;
  color: #007236;
  border: none;
  border-radius: 5px;
  background: #FFF;
  border: solid 1px #007236;
  cursor: pointer;

  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 10px;
  

}
.submitHousehold:hover {
  background-color: #007236;
  color: #FFF;
}
.addRowCont {

  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: -120px;
  margin-top: -51px;
}
.addRow {
  padding: 5px 16px;
  width: auto;
  height: 30.836px;
  color: #150072;
  border: none;
  border-radius: 5px;
  background: #FFF;
  border: solid 1px #150072;
  cursor: pointer;

  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 10px;
}

.addRow:hover {
  background-color: #150072;
  color: #FFF;
}

.table-wrapper {
  overflow-x: auto;
  max-width: 100%; /* Ensure the table wrapper expands to the width of its content */
}
